.login-page, .register-page
{
  background: right 0% bottom 0% no-repeat url("./img/wallpaper.png");
  background-size: cover;
}

.login-box, .register-box
{
  background: white;
  border: solid rgb(247, 191, 7) 2px;
}
