.skin-blue .main-header .logo
{
  background-color: rgb(223, 174, 11);
}

.skin-blue .main-header .navbar
{
  background-color: rgb(247, 191, 7);
}

.skin-blue .main-header li.user-header
{
  background-color: rgb(247, 191, 7)
}

.skin-blue .main-header .logo:hover
{
  background-color: rgb(194, 151, 8);
}

.skin-blue .main-header .navbar .sidebar-toggle:hover
{
  background-color: rgb(194, 151, 8);
}

.btn-primary
{
  background-color: rgb(247, 191, 7);
  border-color: rgb(223, 174, 11);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus
{
  background-color: rgb(223, 174, 11);
  border-color: rgb(223, 174, 11);
}

.box.box-primary {
  border-top-color: rgb(223, 174, 11);
}
