th
{
  text-align: center;
}

td
{
  text-align: center;
}

.allRuche_case
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ruche_case
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
